<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 text-left">
                <h1>Bon Bon Vivant</h1>
                <p>Coming soon!
                    For orders check out our instagram page.
                    For the latest news on The Good Life subscribe here: 
                    
                    We make chocolate and we create worlds at special festivals. We share the knowledge of the energetic Amazonian leaf Guayusa, infuse it with damn good music and mix in refined, edgy performances.
                </p>
            </div>
            <div class="col-md-6 col-lg-6">
                <img src="img/about.png" style="display:flex;flex-wrap: nowrap;width: 100%">
            </div>
        </div>
    </div>
</section>
