<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 text-left">
                <h1>Coming soon!</h1>
                <p>We make chocolate and we create worlds at special festivals. We share the knowledge of the energetic Amazonian leaf Guayusa, infuse it with damn good music and mix in refined, edgy performances.</p>
                <p>For orders check out our instagram page: https://www.instagram.com/bon_bon_vivant or email us at shop@bonbonvivant.nl</p>
                <p>For the latest news on The Good Life subscribe here: thegoodlife@bonbonvivant.nl</p>
            </div>
            <div class="col-md-6 col-lg-6">
                <img src="img/about.png" style="display:flex;flex-wrap: nowrap;width: 100%">
            </div>
        </div>
    </div>
</section>
